dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
tasks
main.go

# Temp
gitignore
#*_migration_source
perf-results-*.json


# System Files
.DS_Store
Thumbs.db
